# Python venv
.venv/
__pycache__/
*.pyc

# Cache & Checkpoints
.cache/
huggingface/
store/
logs/

# Large data
data/
datasets/
corpus_poisoning/datasets/

# Ignore any large binary
*.zip
*.bin
*.pt
*.so
*.jsonl
.ipynb_checkpoints/
